app = "bridgiocrm"
primary_region = "iad"

[build]

[env]
  PORT = "8000"
  PYTHON_VERSION = "3.11.0"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  http_checks = []
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

[[mounts]]
  source = "bridgiocrm_data"
  destination = "/data"

