services:
  - type: web
    name: bridgiocrm
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt && python manage.py migrate --noinput && python manage.py collectstatic --noinput && python manage.py create_superuser --username admin --email admin@bridgio.com --password admin123 || true
    startCommand: gunicorn bridgio.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: True
      - key: ALLOWED_HOSTS
        value: bridgiocrm.onrender.com,*.onrender.com
      - key: GOOGLE_MAPS_API_KEY
        value: AIzaSyCwcFvh1vVe979dldumRkBnV01VU3msn30

